.darkmode__btn {
	display: flex;
	justify-content: flex-end;

	button {
		margin: 20px 20px 0 0;
	}
}

.btn__group {
	display: flex;

	@include breakpoint(sm) {
		justify-content: flex-end;
		border-top: 1px solid $customGreen;
		padding-top: 10px;
	}

	.btn__del {
		@extend %btnStyles;
		margin: 0 0 0 10px;
	}

	.btn__edit {
		@extend %btnStyles;
		margin: 0 0 0 10px;
	}
}

.btn__edit-group {
	display: flex;

	@include breakpoint(sm) {
		justify-content: flex-end;
		border-top: 1px solid $customGreen;
		padding-top: 10px;
	}

	.btn__save {
		@extend %btnStyles;
		margin: 0 0 0 10px;
	}

	.btn__cancel {
		@extend %btnStyles;
		margin: 0 0 0 10px;
	}
}

.toggle__box {
	display: flex;
	align-items: center;
	margin-top: 20px; 
}

.toggle__btn {
	padding: 0;
	position: relative;
	width: 60px;
	height: 24px;
	margin: 0 20px 0 10px;
}

.circle,
.layer {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.circle {
	z-index: 2;
}

.layer {
	width: 100%;
	background-color: #ebf7fc;
	transition: 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	border-radius: 100px;
	z-index: 1;
}

.checkbox {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	opacity: 0;
	cursor: pointer;
	z-index: 3;
}

.toggle__btn .circle:before {
	@include pseudo;
	top: 2px;
	left: 4px;
	width: 20px;
	height: 20px;
	color: #fff;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	line-height: 1;
	background-color: #000028;
	border-radius: 50%;
	transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

.toggle__btn .checkbox:checked + .circle:before {
	content: '';
	left: 37px;
	background-color: #26b191;
}

.toggle__btn .checkbox:checked ~ .layer {
	background-color: #f8f8f8;
	border: 1px solid #f8f8f8;
}

.toggle__btn .circle, .toggle__btn .circle:before, .toggle__btn .layer {
	transition: 0.3s ease all;
}

.sun-icon,
.moon-icon {
	width: 20px;
	height: 20px;
}